.detailsWrapper .unContent{
    min-height:100vh;
    background-color:#f9f9f9;
}
.detailsWrapper .succTitle{
    text-align: center;
    padding:0.5rem 0.2rem;
    background-color:white;
}
.detailsWrapper .succTitle img{
    width:1.2rem;
    height:1.2rem;
    border:1px solid #4c90c6;
    display: block;
    margin:0 auto;
    border-radius: 50%;
}
.detailsWrapper .succTitle h2{
    font-size:0.48rem;
    color:#f74e49;
    line-height:2;
}
.detailsWrapper .content{
    background-color:white;
    padding:0.3rem;
    margin-bottom:0.2rem;
    position:relative;
}
.detailsWrapper .content ul li{
    margin-bottom:0.2rem;
}
.detailsWrapper .content ul li:last-child{
    margin:0;
}
.detailsWrapper .content ul li h6{
    color:#aab8cd;
}
.detailsWrapper .content ul li p{
    color:black;
}
.detailsWrapper .r-content{
    padding-right:1.4rem;
}
.detailsWrapper .content .ewmDesc{
    position:absolute;
    right:0.2rem;
    bottom:0.2rem;
    text-align: center;
}
.detailsWrapper .content .ewmDesc img{
    width:1.25rem;
    height:1.25rem;
}
.detailsWrapper .content .ewmDesc p{
    color:#4c90c6;
    line-height:2;
}