.setEalletWrapper{
    font-size:0.28rem;
    background-color:#f9f9f9;
    width:100%;
    min-height:100vh;
}
.setEalletWrapper .unContent .c-header{
    background-color:#2e3a6a;
    padding:0.3rem;
    color:white;
}
.setEalletWrapper .unContent .c-header i{
    width:10px;
    height:10px;
    border-radius: 100%;
    background-color:white;
    margin-right:5px;
}
.setEalletWrapper .unContent .c-header h5{
    color:white;
    line-height:2;
}
.setEalletWrapper .content ul li{
    background-color:white;
    padding:0.2rem;
}
.setEalletWrapper .content ul li input{
    margin:0;
    border:none;
    margin-left:0.2rem;
}
.setEalletWrapper .content ul li:first-child{
    margin-bottom:0.2rem;
}
.setEalletWrapper .content ul li:nth-child(2){
    border-bottom:1px solid #eee;
}
.setEalletWrapper .content ul li:last-child{
    margin-top:0.2rem;
}
.setEalletWrapper .mui-checkbox, .mui-radio{
    color:#aab8cd;
    margin-top:0.2rem;
}
.setEalletWrapper .mui-checkbox, .mui-radio a{
    color:#f74742;
}
.setEalletWrapper .mui-checkbox input[type=checkbox]:before,.setEalletWrapper .mui-radio input[type=radio]:before{
    font-size:24px;
}
.setEalletWrapper .mui-checkbox.mui-left label,.setEalletWrapper .mui-radio.mui-left label{
    padding-left:50px;
}
.setEalletWrapper .swBtn{
    padding:0.5rem 0.2rem;
}
.setEalletWrapper .swBtn .btn-ui{
    display: block;
    width:100%;
    height:1rem;
    line-height:1rem;
    text-align: center;
    border-radius: 5px;
}
.setEalletWrapper .swBtn .sw-btn-1{
    background-color:#4c90c6;
    color:white;
}
.setEalletWrapper .swBtn .sw-btn-2{
    background-color:white;
    border:1px solid #4c90c6;
    color:black;
    margin-top:0.3rem;
}
.importWrapper .importTitle{
    padding:0.2rem;
    background-color:white;
}
.importWrapper .importTitle .mui-segmented-control-negative{
    border:1px solid #aab8cd;
}
.importWrapper .importTitle .mui-segmented-control-negative .mui-control-item{
    color:black;
}
.importWrapper .importTitle .mui-segmented-control-negative .mui-control-item.mui-active{
    color:white;
    background-color:#aab8cd;
}
.importWrapper .mui-checkbox, .mui-radio{

}
.importWrapper ul li textarea{
    border:none;
    background-color:#f4f5f8;
    margin:0;
    height: 3.5rem;
}
.importWrapper #item1 ul li:first-child{
    margin:0;
    box-sizing: border-box;
    padding:0 0.2rem;
}
.importWrapper #item2 ul li:first-child{
    padding-bottom:0.2rem;
    margin:0;
}
.importWrapper #item3 ul li:first-child{
    padding-bottom:0.2rem;
    margin:0;
}
.importWrapper #item1 ul li #select{
    margin:0;
    margin-left:0.2rem;
    background:url(../img/right-ico.png) no-repeat right center;
    background-size:0.16rem 0.29rem;
}
.importWrapper .content ul li span{
    min-width:1.1rem;
}
.importWrapper .content ul li{
    padding:0.1rem 0.2rem;
}
.importWrapper .content ul li .item2-desc{
    color:black;
    margin-bottom:0.2rem;
}
.importWrapper .content .item4-desc{
    color:#4c90c6;
    padding:0.3rem;
    background-color:#f9f9f9;
    line-height:2;
}
.importWrapper .mui-input-row .mui-btn+input, .mui-input-row label+input, .mui-input-row:last-child{
    background:#f9f9f9;
}
/*11*/
.assetsWrapper .unContent{
    min-height:100vh;
    position:relative;
    background-color:#f9f9f9;
    padding-bottom:1rem;
}
.assetsWrapper .assetsTitle{
    text-align: center;
    background-color:white;
    margin-bottom:0.2rem;
}
.assetsWrapper .content{
    padding:0.2rem;
    background-color:white;
}
.assetsWrapper .content .title{
    padding:0.2rem;
    font-size:0.3rem;
}
.assetsWrapper .content ul li{
    padding:0.1rem 0;
    border-bottom:1px solid #eee;
}
.assetsWrapper .content ul li:last-child{
    border:none;
}
.assetsWrapper .content ul li img{
    width:0.31rem;
    height:0.38rem;
    margin:0 0.2rem;
}
.assetsWrapper .content ul li .c-infor h6{
    color:black;
    line-height:2;
}
.assetsWrapper .content ul li .c-infor p{
    color:#aab8cd;
    font-size:0.26rem;
}
.assetsWrapper .content ul li .plus-c{
    color:#f74e49;
}
.assetsWrapper .content ul li .reduce-c{
    color:#4c90c6;
}
.assetsFooter{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height:1rem;
    line-height:1rem;
    text-align: center;
}
.assetsFooter a{
    color:white;
}
.assetsFooter .btn-1{
    background-color:#aab8cd;
}
.assetsFooter .btn-2{
    background-color:#4c90c6;
}
.recordWrapper .content{
    padding:0;
}
.recordWrapper .content ul{
    padding:0.2rem;
}
.recordWrapper .content .title{
    background-color:#f9f9f9;
}
.recordWrapper #item1 ul li:first-child{
    padding:0.1rem 0;
}
/*222*/
.exportWrapper{
    background-color:white;
}
.exportWrapper .mui-content{
    background:white;
}
.exportWrapper .content ul li{
    margin:0 !important;
    border:none !important;
}
.exportWrapper .content ul li h6{
    color:#aab8cd;
    line-height:2;
}
.exportWrapper .content ul li p{
    color:black;
}
.exportWrapper .content ul li:last-child{
    padding-bottom:0.2rem;
}
.exportWrapper .content .ewmBox{
    width:250px;
    height:250px;
    padding:20px;
    text-align: center;
    margin:30px auto;
}
/*交易弹窗*/
.passwordBox .psdConetnt{
    width:6.9rem;
    height:4.7rem;
    background-color:white;
    border-radius: 10px;
    position:relative;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
}
.psdConetnt h1{
    height:0.9rem;
    line-height:0.9rem;
    text-align: center;
    font-size:0.32rem;
    border-bottom:1px solid #eee;
}
.psdConetnt .infor{
    padding:0.3rem 0;
}
.psdConetnt .infor p{
    margin-bottom:0.3rem;
}
.psdConetnt .infor .mui-input-row{
    background-color:#f4f5f8;
    width:90%;
    margin:0 auto;
}
.psdConetnt .infor .mui-input-row input{
    background:none;
    border:none;
    margin:0;
    font-size:0.4rem;
}
.psdConetnt .infor .btn-ui{
    margin-top:0.2rem;
    justify-content: space-between;
}
.psdConetnt .infor .btn-ui{
    padding:0.2rem;
}
.psdConetnt .infor .btn-ui a{
    width:3rem;
    height:1rem;
    line-height:1rem;
    text-align: center;
    border-radius: 5px;
}
.psdConetnt .infor .btn-ui .btn-ui-1{
    border:1px solid #4c90c6;
}
.psdConetnt .infor .btn-ui .btn-ui-2{
    background:#4c90c6;
    color:white;
}