<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1,maximum-scale=1, minimum-scale=1">
		<link rel="stylesheet" href="css/mui.min.css">
		<link rel="stylesheet" href="css/unified.css">
		<link rel="stylesheet" href="css/index.css">
		<link rel="stylesheet" href="css/help.css">
		<script src="js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/rem.js"></script>
		<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/public.js" type="text/javascript" charset="utf-8"></script>
		<script src="mescroll/mescroll.min.js" type="text/javascript"></script>
		<link rel="stylesheet" href="mescroll/mescroll.min.css">
		<title>帮助中心</title>
	</head>

	<body>
		<div class="helpWrapper" id="app">
			<div class="unContent">
				<div class="helpTitle">
					<h4>我们能帮助你什么？</h4>
					<input type="text" v-model="so" @focusout="doSo" placeholder="搜索帮助内容">
				</div>
				<div class="content">
					<h1>常见问题</h1>
					<div class="mescroll" id="mescroll" style="height: 12rem;">
						<ul id='warpId'>
							<li @tap="goDetail(item)" v-for='item in list'>{{item.title}}</li>
						</ul>
					</div>

				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript">
		mui.plusReady(function() {
			vm.page_detail = mui.preload({
				url: 'article.html',
				id: 'article_help',
				styles: {
					titleNView: {
					  	autoBackButton:true,
					  	text:'帮助中心'
		    		},
					render: "always", //一直渲染  
					popGesture: "hide"
				},
				extras:{
					page_id:'help'
				}
			});
		});
		var vm = new Vue({
			el: '#app',
			data: {
				mescroll: [],
				list: [],
				page_detail:'',
				so:''
			},
			methods: {
				doSo:function(){
					this.mescroll.resetUpScroll(true);
				},
				goDetail:function(item){
	        		if(item.type==1){
	        			mui.openWindow({
							url:'browser.html',
							id:'browser',
							extras:{
							   url:item.link
							},
							waiting:{
							   autoShow:false
						    }
						});
	        		}else{
	        			var self = this;
		        		mui.fire(self.page_detail, 'initData', {
		        			id:item.id,
		        			title:item.title,
		        			create_time:item.create_time
		        		});
						setTimeout(function() {
							self.page_detail.show("slide-in-right", 300);;
						}, 150);
	        		}
	        	},
				initData: function(page) {
					var self = this;
	                $.ajax({
	                    type: "get",
	                    url: HelpList,
	                    data: {
	                        page: page.num,
	                        so:self.so
	                    },
	                    success: function(data){
	                        if(data.code) {
	                            var result = data.msg;
	                            if(page.num == 1) {
	                                self.list = result.list;
	                            } else {
	                                self.list = self.list.concat(result.list);
	                            }
	                            self.mescroll.endByPage(result.list.length, result.totalPage);
	                        } else {
	                           self.list = [];
	                        }
	                    },
	                    error: function(data) {
	                        console.log(JSON.stringify(data));
	                    }
	                });
				},
				initMescroll: function(mescrollId, warpId) {
					var self = this;
					var mescroll = new MeScroll(mescrollId, {
						down:{
							isLock:true
						},
						up: {
							callback: function(page) {
								self.initData(page);
							},
							page: {
								num: 0,
								size: 20,
								time: null
							},
							isBounce: false,
							noMoreSize: 40,
							empty: {
								warpId: warpId,
								icon: "img/icon/none.png",
								tip: "",
							},
							htmlNodata: '<p class="upwarp-nodata">没有更多了哦 ^v^</p>'
						}
					});
					return mescroll;
				}
			},
			mounted: function() {
				this.mescroll = this.initMescroll('mescroll', 'warpId');
			}
		})
	</script>

</html>