<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1, minimum-scale=1">
    <link rel="stylesheet" href="css/mui.min.css">
    <link rel="stylesheet" href="css/unified.css">
    <link rel="stylesheet" href="css/walletCurr.css">
    <script src="js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/rem.js"></script>
    <script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/public.js" type="text/javascript" charset="utf-8"></script>
    <title>修改密码</title>
</head>
<body>
<div class="setEalletWrapper" id="app">
    <div class="unContent">
        <div class="content">
            <ul>
                <li class="flex-box">
                    <span>原始密码</span>
                    <input class="box-1" v-model='old_pwd' type="password" placeholder="请输入原始密码">
                </li>
                <li class="flex-box">
                    <span>设置密码</span>
                    <input class="box-1" v-model='new_pwd' type="password" placeholder="请设置新密码">
                </li>
                <li class="flex-box">
                    <span>重复密码</span>
                    <input class="box-1" v-model='re_pwd' type="password" placeholder="请再次输入密码">
                </li>
            </ul>
            <div class="swBtn">
                <a class="btn-ui sw-btn-1" @tap='doSub'>确定</a>
            </div>
        </div>
    </div>
</div>
</body>
<script src="wallet/web3.min.js" type="text/javascript" charset="utf-8"></script>
<script src="wallet/lightwallet.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    var vm = new Vue({
        el: '#app',
        data: {
        	old_pwd:'',
        	new_pwd:'',
        	re_pwd:'',
        },
        methods: {
            doSub:function(){
            	if(!this.old_pwd){
            		mui.toast('请输入原始密码');return;
            	}
            	if(!this.new_pwd){
            		mui.toast('请设置新密码');return;
            	}
            	if(!this.re_pwd){
            		mui.toast('请确认新密码');return;
            	}
            	if(this.new_pwd!=this.re_pwd){
            		mui.toast('两次密码不同');return;
            	}
            	var _self = this;
            	plus.nativeUI.showWaiting('原始密码验证中');
				var ks = getItem('walletInfo').ks;
				try{
					var mneKeystore = lightwallet.keystore.deserialize(JSON.stringify(ks));
					mneKeystore.keyFromPassword(_self.old_pwd, (err, pwDerivedKey) => {
						plus.nativeUI.closeWaiting();
						if(err){
							plus.nativeUI.toast('原始密码验证失败');
						}else{
							plus.nativeUI.showWaiting('新密码设置中');
							try{
								var seed = mneKeystore.getSeed(pwDerivedKey);
							}catch(err){
								plus.nativeUI.closeWaiting();
								plus.nativeUI.toast('原始密码验证失败');
								return;
							}
							lightwallet.keystore.createVault(
								{
									password: _self.new_pwd,
									seedPhrase: seed,
									hdPathString: "m/44'/60'/0'/0"
								},(err, ks) => {
									plus.nativeUI.closeWaiting();
									if(err){
										plus.nativeUI.toast('密码设置失败');
									}else{
										_self.createAddress(ks);
									}
								}
							);
						}
					});
				}catch(err){
					plus.nativeUI.closeWaiting();
					plus.nativeUI.toast('原始密码验证失败');
				}
           },
           createAddress:function(ks){
           	    
        		var _self = this;
        		try{
        			ks.keyFromPassword(_self.new_pwd, function (err, pwDerivedKey) {
						ks.generateNewAddress(pwDerivedKey, 1);
						var addresses = ks.getAddresses();
						var pkey = '0x' + ks.exportPrivateKey(addresses[0], pwDerivedKey);
						var web3 = initWeb3();
						var keystoreV3 = web3.eth.accounts.privateKeyToAccount(pkey).encrypt(_self.new_pwd);
						setItem('walletInfo',{
							walletAddress: addresses[0],
							keystoreV3: keystoreV3,
							ks: ks
						});
						plus.nativeUI.closeWaiting();
						plus.nativeUI.alert('密码修改成功',function(){
							mui.back();
						});
		        	});
        		}catch(e){
        			plus.nativeUI.closeWaiting();
        			plus.nativeUI.toast('密码设置失败');
        		}
        	}
        }
    })
</script>
</html>