<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1, minimum-scale=1">
    <link rel="stylesheet" href="css/mui.min.css">
    <link rel="stylesheet" href="css/unified.css">
    <link rel="stylesheet" href="css/mnemonicCurr.css">
    <script src="js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/rem.js"></script>
    <script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/public.js" type="text/javascript" charset="utf-8"></script>
    <title>确认助记词</title>
</head>
<body>
<div class="mnemonicWrapper" id="app">
    <header class="flex-box header">
        <img src="img/icon/back_black.png" class="mui-action-back">
        <div class="box-1 text">确认助记词</div>
        <span class="seize"></span>
    </header>
    <div class="unContent">
        <div class="content">
           <h6>备份你的助记词</h6>
            <p>助记词用于恢复钱包或重要钱包密码，将它准确的抄写
                到纸上，并存放在只有你知道的安全地方。</p>
            <textarea rows="5" v-model="word" class="word" readonly placeholder=""></textarea>
            <div class="mnemonicInfor">
                <span v-for="item in list" v-if="item.cond" @tap="clickMnemonic(item)">{{item.text}}</span>
            </div>
            <div class="swBtn">
                <a class="btn-ui sw-btn-1" @tap="show('index')">完成</a>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            isOtherList: false,
            word: '',
            list: [
                {text: 'wgqh',cond: true},
                {text: 'wgqh',cond: true},
                {text: 'wgqh',cond: true},
                {text: 'wgqh',cond: true},
                {text: 'wgqh',cond: true},
                {text: 'wgqh',cond: true},
                {text: 'wgqh',cond: true},
                {text: 'wgqh',cond: true},
            ]
        },
        methods: {
            clickMnemonic: function (item) {
                if(item.cond){
                    item.cond = false
                    this.word += item.text
                }
            },
            //获取默认数据
            getData(){
                var self = this
                this.list = []
                $.ajax({
                    type: "get",
                    url: '',
                    beforeSend: function(xhr) {
                        token = getItem("Userdata").token;
                        xhr.setRequestHeader("Authorization", "Basic " + token);
                    },
                    success: function(data) {

                    },
                    error: function(data) {
                        console.log('系统繁忙!');
                    }
                });
            },
        },
        mounted(){

        }
    })
</script>
</html>