<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1,maximum-scale=1, minimum-scale=1">
		<link rel="stylesheet" href="css/mui.min.css">
		<link rel="stylesheet" href="css/unified.css">
		<link rel="stylesheet" href="css/walletCurr.css">
		<script src="js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/rem.js"></script>
		<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/public.js" type="text/javascript" charset="utf-8"></script>
		<script src="light-wallet/web3.js" type="text/javascript" charset="utf-8"></script>
		<script src="light-wallet/lightwallet.js" type="text/javascript" charset="utf-8"></script>
		<title>恢复身份</title>
	</head>

	<body>
		<div class="setEalletWrapper importWrapper" id="app" style="min-height: inherit;">
			<div class="unContent">
				<div class="mui-content">
					<div class="importTitle">
						<div id="segmentedControl" class="mui-segmented-control mui-segmented-control-primary mui-segmented-control-negative">
							<a class="mui-control-item mui-active" @tap='swtchTab(1)' href="#item1">助记词</a>
							<a class="mui-control-item" @tap='swtchTab(2)' href="#item2">官方钱包</a>
							<a class="mui-control-item" @tap='swtchTab(3)' href="#item3">私钥</a>
						</div>
					</div>
					<div>
						<div id="item1" class="mui-control-content mui-active">
							<div class="content">
								<ul>
									<li class="flex-box">
										<textarea v-model="word" placeholder="输入助记词，用空格分隔"></textarea>
									</li>
									<li class="flex-box">
										<span>路径　　</span>
										<select v-model="hdpath" class="box-1">
											<option value="m/44'/60'/0'/0">m/44'/60'/0'/0</option>
										</select>
									</li>
									<li class="flex-box">
										<span>设置密码</span>
										<input class="box-1" v-model="pwd" type="password" placeholder="请设置密码">
									</li>
									<li class="flex-box">
										<span>重复密码</span>
										<input class="box-1" v-model="repwd" type="password" placeholder="请再次输入密码">
									</li>
								</ul>
								<div class="mui-input-row mui-radio mui-left">
									<label>我已经仔细阅读并同意 <a>《服务机隐私条款》</a></label>
									<input value="1" v-model="checked" type="radio">
								</div>
							</div>
						</div>
						<div id="item2" class="mui-control-content">
							<div class="content">
								<ul>
									<li>
										<p class="item2-desc">直接复制粘贴**官方钱包keystore文件内容至输入框， 或者通过生成keystore内容的二维码，扫描录入。
										</p>
										<textarea rows="5" v-model="keystore" placeholder="请输入keystore"></textarea>
									</li>
									<li class="flex-box">
										<span>密码</span>
										<input class="box-1" v-model="pwd" type="password" placeholder="请输入密码">
									</li>
								</ul>
								<div class="mui-input-row mui-radio mui-left">
									<label>我已经仔细阅读并同意 <a>《服务机隐私条款》</a></label>
									<input value="1" v-model="checked" type="radio">
								</div>
							</div>
						</div>
						<div id="item3" class="mui-control-content">
							<div class="content">
								<ul>
									<li class="flex-box">
										<textarea rows="5" v-model="privatekey" placeholder="请输入私钥"></textarea>
									</li>
									<li class="flex-box">
										<span>设置密码</span>
										<input class="box-1" v-model="pwd" type="password" placeholder="请设置密码">
									</li>
									<li class="flex-box">
										<span>重复密码</span>
										<input class="box-1" v-model="repwd" type="password" placeholder="请再次输入密码">
									</li>
								</ul>
								<div class="mui-input-row mui-radio mui-left">
									<label>我已经仔细阅读并同意 <a>《服务机隐私条款》</a></label>
									<input value="1" v-model="checked" type="radio">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="swBtn">
					<a class="btn-ui sw-btn-1" @tap='doImport'>开始导入</a>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			var immersed = getImmersedHeight();
			$(".header").css('padding-top', (immersed + 5) + 'px');
			var vm = new Vue({
				el: '#app',
				data: {
					tab: 1,
					word: '',
					keystore: '',
					privatekey: '',
					hdpath: "m/44'/60'/0'/0",
					pwd: '',
					repwd: '',
					checked: 0
				},
				methods: {
					swtchTab: function(tab) {
						this.tab = tab;
						this.pwd = '',
							this.repwd = '',
							this.checked = 0;
					},
					scanInit: function(msg) {
						switch(this.tab) {
							case 2:
								this.keystore = msg;
								break;
							case 3:
								this.privatekey = msg;
								break;
						}
					},
					scanCode: function() {
						mui.openWindow({
							url: 'scan_code.html',
							id: 'scan_code',
							extras: {
								'webid': 'wallet_import'
							}
						});
					},
					createAddress: function(ks) {
						var _self = this;
						ks.keyFromPassword(_self.pwd, function(err, pwDerivedKey) {
							ks.generateNewAddress(pwDerivedKey, 1);
							var addresses = ks.getAddresses();
							var web3 = initWeb3();
							var keystoreV3 = web3.eth.accounts.privateKeyToAccount('0x' + ks.exportPrivateKey(addresses[0], pwDerivedKey)).encrypt(_self.pwd);;
							setItem('userInfo', {
								headImg: 'img/defaulthead.png',
								walletName: 'BCS新钱包',
								pwdNotice: ''
							});
							setItem('walletInfo', {
								walletAddress: addresses[0],
								keystoreV3: keystoreV3,
								ks: ks
							});
							plus.nativeUI.closeWaiting();
							plus.webview.getLaunchWebview().evalJS('vm.initData()');
							setTimeout(function() {
								plus.webview.getLaunchWebview().show();
								plus.webview.currentWebview().close();
							}, 200);
						});
					},
					doImport: function() {
						var _self = this;
						if(_self.check_form()) {
							plus.nativeUI.showWaiting('导入中');
							if(_self.tab == 1) {
								//助记词导入
								lightwallet.keystore.createVault({
									password: _self.pwd,
									seedPhrase: _self.word,
									hdPathString: _self.hdpath
								}, (err, ks) => {
									_self.createAddress(ks);
								});
							} else if(_self.tab == 2) {
								//keystore导入
								try {
									var web3 = initWeb3();
									var account = web3.eth.accounts.decrypt(_self.keystore, _self.pwd);
									setItem('userInfo', {
										headImg: 'img/defaulthead.png',
										walletName: 'BCS新钱包',
										pwdNotice: ''
									});
									setItem('walletInfo', {
										walletAddress: account.address,
										keystoreV3: _self.keystore,
									});
									plus.nativeUI.closeWaiting();
									plus.webview.getLaunchWebview().evalJS('vm.initData()');
									setTimeout(function() {
										plus.webview.getLaunchWebview().show();
										plus.webview.currentWebview().close();
									}, 200);
								} catch(e) {
									console.log(e);
									plus.nativeUI.closeWaiting();
									mui.toast('导入钱包失败, 请检查keystore或者密码是否正确');
								}
							}else if(_self.tab==3){
								try{
									var web3 = initWeb3();
									var keystoreV3 = web3.eth.accounts.encrypt(_self.privatekey, _self.pwd);
									setItem('userInfo', {
										headImg: 'img/defaulthead.png',
										walletName: 'BCS新钱包',
										pwdNotice: ''
									});
									setItem('walletInfo', {
										walletAddress: '0x' + keystoreV3.address,
										keystoreV3: keystoreV3,
									});
									plus.nativeUI.closeWaiting();
									plus.webview.getLaunchWebview().evalJS('vm.initData()');
									setTimeout(function() {
										plus.webview.getLaunchWebview().show();
										plus.webview.currentWebview().close();
									}, 200);
								}catch(e) {
									plus.nativeUI.closeWaiting();
									console.log(e);
									mui.toast('私钥无效,请重新输入！');
								}
								
							}

						}
					},
					check_form: function() {
						var _self = this;
						if(_self.tab == 1) {
							_self.word = _self.word.trim();
							if(!_self.word) {
								mui.toast('请输入助记词');
								return false;
							}
							if(!lightwallet.keystore.isSeedValid(_self.word)) {
								mui.toast('助记词有误');
								return false;
							}
							if(!_self.hdpath) {
								mui.toast('请选择路径');
								return false;
							}
							_self.pwd = _self.pwd.trim();
							if(!_self.pwd) {
								mui.toast('请设置钱包密码');
								return false;
							}
							_self.repwd = _self.repwd.trim();
							if(!_self.repwd) {
								mui.toast('请确认钱包密码');
								return false;
							}
							if(_self.pwd.length < 6) {
								mui.toast('密码长度至少6位');
								return false;
							}
							if(_self.pwd != _self.repwd) {
								mui.toast('两次密码不同');
								return false;
							}
							if(!_self.checked) {
								mui.toast('请仔细阅读服务条款');
								return false;
							}
							return true;
						} else if(_self.tab == 2) {
							if(!_self.keystore) {
								mui.toast('请输入Keystore');
								return false;
							}
							_self.pwd = _self.pwd.trim();
							if(!_self.pwd) {
								mui.toast('请输入Keystore密码');
								return false;
							}
							if(!_self.checked) {
								mui.toast('请仔细阅读服务条款');
								return false;
							}
							return true;
						} else if(_self.tab == 3) {
							if(!_self.privatekey) {
								mui.toast('请输入私钥');
								return false;
							}
							_self.pwd = _self.pwd.trim();
							if(!_self.pwd) {
								mui.toast('请设置钱包密码');
								return false;
							}
							_self.repwd = _self.repwd.trim();
							if(!_self.repwd) {
								mui.toast('请确认钱包密码');
								return false;
							}
							if(_self.pwd.length < 6) {
								mui.toast('密码长度至少6位');
								return false;
							}
							if(_self.pwd != _self.repwd) {
								mui.toast('两次密码不同');
								return false;
							}
							if(!_self.checked) {
								mui.toast('请仔细阅读服务条款');
								return false;
							}
							return true;
						}
					}
				}
			})
		</script>
	</body>

</html>